#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgb(200, 200, 200);
  font-family: sans-serif;
}

.sizes,
.styles,
.image,
.description {
  padding: 10px;
  display: flex;
  justify-content: center;
}

button {
  padding: 5px;
  outline: none;
  border: 2px rgba(224, 83, 243) solid;
  border-radius: 5px;
  background-color: rgb(168, 243, 83);
  margin: 5px;
}

button:hover {
  background-color: rgba(224, 83, 243);
  border: 2px solid rgb(168, 243, 83);
  color: white;
}

img {
  border: 2px solid blue;
}

.description {
  color: gray;
}
